<head>
    <title>This is simple application</title>
</head>
<body>
<form method="get" action="/plot/test">
    <p>Click to redirect to graph</p>
    <input type="submit" value="Click me" />
</form>
<br>
<form method="get" action="/plot/accelerometer">
    <input type="text" name="peopleId" />
    <input type="submit" value="Show Data From accelerometer" />

</form>

<form method="get" action="/plot/magnetometer">
    <input type="text" name="peopleId" />
    <input type="submit" value="Show Data From magnetometer" />
</form>
</body>